@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


body{
    font-family: "Inter", sans-serif;
}


.swiper-wrapper {
  align-items: stretch !important;
}

.swiper-slide {
  height: 400px !important;
}

